# Ignorar todo excepto notebooks y modelos

# Archivos de datos comunes
*.csv
*.xlsx
*.zip
*.json
*.txt

# Datasets grandes
/data/

*.tif
*.shp
*.npz
*.npy

# Entornos y caché
.venv/
__pycache__/
.ipynb_checkpoints/
.env

# Archivos de sistema y de desarrollo
*.log
*.tmp
.idea/
*.pyc
.DS_Store